
@{
    ViewBag.Title = "Confirm purchase";
}

<div>
    <h3>Confirm purchase</h3>
    <p>@ViewBag.ErrorMessage</p>
    <form method="post" action="..\Confirm">
        @if (ViewBag.ErrorMessage.Equals(""))
        {
            <input type="hidden" value="@ViewBag.Sale.book_id" name="book_id"/>
            <input type="hidden" value="@ViewBag.Sale.sale_date" name="sale_date" />
            <input type="hidden" value="@ViewBag.Sale.books_count" name="books_count" />
            <input type="hidden" value="@ViewBag.Sale.price" name="price" />
            <p>Your order: @ViewBag.Sale.books_count * @ViewBag.BookName, will be delivered in around 1 week.</p>
            <input type="submit" name="ok" value="OK"/>
            <input type="submit" name="cancel" value="Cancel"/>
        }
    </form>
</div>


