@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
 
@*<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bookshop</title>
</head>
<body>*@
<div>
    <h3>Available books</h3>
    <table>
        <tr><td><p>Book name</p></td>
            <td><p>Author</p></td>
            <td><p>Available Count</p></td>
            <td><p>Price</p></td>
            <td></td>
        </tr>
        @foreach (var b in ViewBag.Books)
        {
            <tr>
                <td><p>@b.book_name</p></td>
                <td><p>@b.Author.first_name @b.Author.last_name</p></td>
                <td><p>@b.available_count</p></td>
                <td><p>@b.price</p></td>
                <td><p><a href="/Home/Buy/@b.book_id">Buy</a></p></td>
            </tr>
        }
    </table>
</div>
@*</body>
</html>*@