@{
    ViewBag.Title = "Home Page";
}
 
<div>
    <h3>Available books</h3>
    <table>
        <tr><td><p>Book name</p></td>
            <td><p>Author</p></td>
            <td><p>Available Count</p></td>
            <td><p>Price</p></td>
            <td></td>
        </tr>
        @foreach (var b in ViewBag.Books)
        {
            <tr>
                <td class="info"><p><a href="/Home/EditBook/@b.book_id" class="infoLink">@b.book_name</a></p></td>
                <td class="info"><p>@b.Author.first_name @b.Author.last_name</p></td>
                <td><p>@b.available_count</p></td>
                <td><p>@b.price</p></td>
                <td><p><a href="/Home/Buy/@b.book_id">Make a purchase</a></p></td>
            </tr>
        }
    </table>
    <p>@ViewBag.ErrorMessage</p>
</div>